@{
    ViewBag.Title = "MVC Home Page";
}
                <h2>The World</h2>
                <p>A paragraph of text. Blah blah blah.</p>
                <form>
                    <div>
                        <label>Date</label>
                        <input />
                    </div>
                    <div>
                        <label>Location</label>
                        <input />
                    </div>
                    <div>
                        <input type="submit" value="Add" />
                    </div>
                </form>
